Doubt Solving Assistance/Gmail AI Reply.json
{
  "name": "Gmail AI Reply",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -288,
        0
      ],
      "id": "615dccc5-5446-4dda-8e70-5cc7cf892d95",
      "name": "Check for new Mail",
      "credentials": {
        "gmailOAuth2": {
          "id": "N2S3VSwVBoTOc1A1",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -80,
        0
      ],
      "id": "1a138fb8-2a44-4083-8892-22875750d219",
      "name": "Get a message",
      "webhookId": "478dfc52-4c9a-4cfe-85bc-950d9b76cf25",
      "credentials": {
        "gmailOAuth2": {
          "id": "N2S3VSwVBoTOc1A1",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are Email Responding Agent\n\nBelow are the content of latest latest email i got \n\nSubject : {{ $json.Subject }}\n\nBody : {{ $json.snippet }}\n\nYou Have to do 2 Things\n1. Specify the label based on the email\n    Use tool to get all label and there id and mention them properly\n\n2. As a smart Assistance please draft the response for me so that i can reply to my email with subject and body\n\nMake sure that reply is very respectable and wherever required please explain student doubts in depth with example and make sure that reply follow strict HTML Format so that it is easy to read",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        128,
        0
      ],
      "id": "bfe6d087-80d4-427a-8b96-81bced7ad461",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -64,
        272
      ],
      "id": "d7bea7a5-5244-4e90-9410-c9926dcd55c3",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "sFusMuGTJu2lGPIk",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"label\":\"doubt\",\n      \"label_id\":\"1234\",\n  \"subject\":\"doubt answer\",\n    \"body\":\"Hey thanks for reaching out\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        416,
        288
      ],
      "id": "b2ef5e88-0bb4-4dbc-83fe-24dba8a42b5b",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Get a message').item.json.id }}",
        "labelIds": "={{ $json.output.label_id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        480,
        0
      ],
      "id": "fca14830-0d67-4dff-825e-e7d26589f330",
      "name": "Add label to message",
      "webhookId": "ee73c63f-de9b-4e23-9f7e-fa816d3ba7c0",
      "credentials": {
        "gmailOAuth2": {
          "id": "N2S3VSwVBoTOc1A1",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "resource": "label",
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        176,
        288
      ],
      "id": "c2b3a710-e3ae-46fa-91f7-af8ec6d0c56b",
      "name": "Get many labels in Gmail",
      "webhookId": "cf2ef49c-a326-4240-a983-a827fd085448",
      "credentials": {
        "gmailOAuth2": {
          "id": "N2S3VSwVBoTOc1A1",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $('AI Agent').item.json.output.subject }}",
        "emailType": "html",
        "message": "={{ $('AI Agent').item.json.output.body }}",
        "options": {
          "threadId": "={{ $json.threadId }}",
          "sendTo": "={{ $('Get a message').item.json.From }}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        688,
        0
      ],
      "id": "e3639b62-9a54-4489-9714-bbc445c63045",
      "name": "Create a draft",
      "webhookId": "c7944f4f-c9a2-4cde-85e8-1f6e16a44fbc",
      "credentials": {
        "gmailOAuth2": {
          "id": "N2S3VSwVBoTOc1A1",
          "name": "Gmail OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Check for new Mail": {
      "main": [
        [
          {
            "node": "Get a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a message": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Add label to message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many labels in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Add label to message": {
      "main": [
        [
          {
            "node": "Create a draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "76f8fdf4-a65f-43be-aaa7-276f9acb4fab",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cd57c4a05101fcca4c36a4a2052a6df75635a1a2650dda21fc8bf985b7877967"
  },
  "id": "pI31nkjYkHY8gvXh",
  "tags": []
}